@import './base.css';
@import './purple.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
    color: var(--color-primary);
}

@media (hover: hover) {
  a:hover {
    background-color:#673ab844;

  }
}